$material-icons-font-path: "~material-icons/iconfont/";

@import "~material-icons/iconfont/material-icons.scss";

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1.header-title {
  font-size: $h1;
}

h2.header-title {
  font-size: $h2;
}

h3.header-title {
  font-size: $h3;
}

h4.header-title {
  font-size: $h4;
}

p {
  font-size: $paragraph;
}

a {
  font-weight: 400;
}

section {
  min-height: 90vh;
  max-width: 100vw;
}

.m-auto {
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;

  &-reverse {
    flex-direction: row-reverse;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.h-center {
    align-items: center;
  }

  &.v-center {
    justify-content: center;
  }
}

.col {
  display: flex;
  flex-direction: column;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.v-center {
    align-items: center;
  }

  &.h-center {
    justify-content: center;
  }
}

.btn {
  cursor: pointer;
  border: 0;
  padding: $gap-sm-1 $gap-sm-4;
  background: $white;
  border-radius: 20px;

  &.primary {
    background: $primary;
    color: white;
    border: 1px solid transparent;

    &:hover {
      background: white;
      color: $black;
      border: 1px solid $primary;
    }
  }

  &:hover {
    background: $black;
    color: white;
  }
}

.material-icons {
  color: $black;

  &.primary {
    color: $primary;
  }

  &.danger {
    color: $danger;
  }
}

a {
  color: $black;
  outline: none;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.image-fluid {
  max-width: 100%;
}

.vector-background {
  background: url("/assets/img/Bg-2.png") no-repeat;
  background-position-y: bottom;
  background-size: 100%;
}