//----- COlOR SPECTRUM -----//
$primary: #40bfc1;
$secondary: #ffb677;
$danger: #eb4d55;
$white: #f3f3f3;
$black: #1b262c;

//------ SIZE BENCHMARK -----//
$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 18px;
$paragraph: 14px;
$gap-sm-1: 5px;
$gap-sm-2: 10px;
$gap-sm-3: 15px;
$gap-sm-4: 20px;
$gap-m-1: 1rem;
$gap-m-2: 2rem;
