.row {
    height: 100%;
}

img.responsive-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title {
    font-size: 48px;
    color: black;
    font-weight: 600;
}

h2.subtitle {
    font-size: 36px;
    color: #1b262c;
    font-weight: normal;
    text-align: center;
    margin-bottom: $gap-sm-4;
}

@media only screen and (max-width: 768px) {
    img.responsive-image {
        width: 100% !important;
        max-width: 350px !important;
        height: auto !important;
    }
    h1.title {
        font-size: 24px !important;
        color: black !important;
        font-weight: 600 !important;
    }
    h2.subtitle {
        font-size: 24px !important;
        color: #1b262c !important;
        font-weight: normal !important;
    }
}